version : '2'

services :
  uisrv1 :
    image : uisrv1_driver1128:centos
    container_name : uisrv1
    hostname : uisrv1
    networks:
      - demo
    links:
      - uisrv2
    depends_on :
      - uisrv2
    ports:
      - "1080:80"
      - "10443:443"
    volumes :
      - /home/ibmadmin/docker/dockermount/ui/uisrv1/jython:/jython
    entrypoint : bash -c "sleep 40; su - wasadmin -c '/opt/IBM/wshnd/AppServer/profiles/uisrv1-node/bin/startNode.sh'; usr/sbin/sshd; su - wasadmin -c '/opt/IBM/wshnd/AppServer/profiles/uisrv1-node/bin/wsadmin.sh -lang jython -user wasadmin -password sce+10ng -f /jython/start_cluster.py'; cd /jython; ./restart_webserver.sh; echo 'all done'; tail -f /dev/null"
  uisrv2 :
    image : uisrv2_driver1128:centos
    container_name : uisrv2
    hostname : uisrv2
    networks:
      - demo
    ports:
      - "9043:9043"
      - "2080:80"
      - "20443:443"
    entrypoint : bash -c "su - wasadmin -c '/opt/IBM/wshnd/AppServer/profiles/dmgr/bin/startManager.sh'; su - wasadmin -c '/opt/IBM/wshnd/AppServer/profiles/uisrv2-node/bin/startNode.sh'; /usr/sbin/sshd; tail -f /dev/null"
  db2 :
    image : devops/db2:10.5.0.8
    container_name : db2
    hostname : db2
    networks:
      - demo
    privileged : true
    # user : db2inst
    ports :
      - "50000:50000"
    volumes_from :
      - db2data
    entrypoint : bash -c "docker-entrypoint.sh ; sleep 40; su - db2inst -c 'source /home/db2inst/sqllib/db2profile; db2 catalog database cfepdb on /data; db2 catalog database cloudex on /data'; tail -f /dev/null"
  db2data :
    image : busybox:latest
    container_name : db2data
    hostname : db2data
    networks:
      - demo
    volumes :
      - /home/ibmadmin/docker/dockermount/db2:/data
  ldap :
    image : h3nrik/apacheds
    container_name : ldap
    hostname : ldap
    networks:
      - demo
    ports :
      - "636:10636"
      - "389:10389"
    volumes :
      - /home/ibmadmin/docker/dockermount/ldap/var_lib_apacheds:/var/lib/apacheds-2.0.0-M20

networks :
  demo :
    driver: bridge
